{% extends 'core/base.html' %}

{% block content %}
<div class='header'>
	<h1><img src="/static/img/mm_logo.png" height="62" width="62" alt=""/>MicroFilters</h1>
</div>

<div class="row main">
	<div class="large-8 columns large-centered" id="message-box">
		<div data-alert class="alert-box warning">300/3000 lines processed. Files added below as they are created.</div>
	</div>
	<div class="large-10 columns large-centered">
		<div class="row">
			<div class="large-10 columns small-centered">
				<div class='panel'>
					<ul>
					{% for file in files %}
						<li><a href="{{file.url}}">{{ file.name }}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footer"></div>
{% endblock %}
