{% extends 'core/base.html' %}
{% block content %}
<div class='header'>
	<div class="row">
		<h1 class="large-8 columns small-centered"><img src="/static/img/mm_logo.png" height="62" width="62" alt="">MicroFilters</h1>
	</div>
</div>

<div class="row main">
	<form id="main-form" method="POST" action="/download/" enctype="multipart/form-data" target="_blank">
	{% csrf_token %}
		<input type="hidden" name="X-Progress-ID" value="6GUm6x">
		<div class="large-8 columns large-centered" id="message-box"></div>
		<div class="large-10 columns large-centered">
			<div class="row">
				<div class="large-10 columns small-centered">
					<div class='panel'>
						<div>
							<h3>Select App Type</h3>
								<div id="app-list"><ul>
									<li><input type='radio' name='app' value='textclicker' appid='78'>Text Clicker</input></li>
									<li><input type='radio' name='app' value='imageclicker' appid='80'>Image Clicker</input></li>
									<li><input type='radio' name='app' value='videoclicker' appid='82'>Video Clicker</input></li>
								</ul></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-10 columns small-centered">
					<div class="panel">
						<h3>Data Source</h3>
						<div class="large-8 columns small-centered">
							<input type="text" id="data-url" name="data-url" placeholder="http://url/to/your/file/here" size='50'>
						</div>
						<label id='or' class="large-2 columns small-centered">-or-</label>
						<div class="small-4 columns small-centered">
							<input accept=".json, .csv" type="file" id="data-file" name="data-file">
						</div>
						<div class="progress success hide">
							<span class="meter" style="width: 0%"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="large-6 columns small-centered">
				<button type="submit" class="expand button">Generate Files</button>
			</div>
		</div>
	</form>
</div>

<div class="footer"></div>
{% endblock %}
